<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{ABSOLUTE} &lt;%c&gt; %5p [%t]: %m%n"/>
        </Console>

        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout charset="UTF-8" pattern="%d{ABSOLUTE} &lt;%c&gt; %5p [%t]: %m%n"/>
        </Console>

        <RollingRandomAccessFile name="SERVICE_LOG_FILE" fileName="/var/log/application/shop_service.log"
                                 filePattern="/var/log/application/$${date:yyyyMM}/shop_service_%d{yyyyMMdd}_%i.log.gz">
            <PatternLayout charset="UTF-8"
                           pattern="{&quot;datatype&quot;:0,&quot;business&quot;:&quot;order&quot;,&quot;module&quot;:&quot;shop_service&quot;,&quot;currentTime&quot;:&quot;%d&quot;,&quot;level&quot;:&quot;%-5p&quot;,&quot;method&quot;:&quot;%t&quot;,&quot;interface&quot;:&quot;%C&quot;,&quot;data&quot;:&quot;%m %ex&quot;}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="30 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="40"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="SERVICE_LOG_FILE"/>
        </Root>

        <Logger name="com.netflix" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.alibaba.dubbo" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.jboss" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.apache.zookeeper" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.springframework.context.annotation" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.apache.http" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.mybatis.spring.mapper" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.baidu.disconf" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.springframework.beans" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.springframework.core.io.support" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.springframework.aop" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.I0Itec.zkclient" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.mybatis.spring" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.hibernate.validator" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.springframework.core.env" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.springframework.context.support" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.quartz.simpl" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.apache.activemq.jms" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <!-- service provider Logger -->
        <Logger name="com.fuhaidev.admin" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="SERVICE_LOG_FILE"/>
        </Logger>

        <!-- test service provider Logger -->
        <Logger name="test.com.fuhaidev.admin" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="SERVICE_LOG_FILE"/>
        </Logger>

    </Loggers>

</Configuration>